body {
  font-family: 'Open Sans', sans-serif;
}
.bg-blue {
  background-color: #007BFF;
}
.text-blue {
  color: #007BFF;
}
.bg-orange {
  background-color: #FF6F61;
}
.text-orange {
  color: #FF6F61;
}
